# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
vendor/
dist/
bower_components/
node_modules/
npm-debug.log
yarn-error.log

# Local settings and data
/.data/*
!/.data/.gitkeep

/.env
/hosts.yml
/wp-cli.local.yml
/docker-compose.override.yml
/*.bak
