a#back_to_top {
  color: $white!important;
  background-color: $primary!important;
  opacity: 0.7;
  box-shadow: none;
  background-image: none;
  border-radius: 0;
  padding: 0;
  &.sticky {
    @include mobile {
      bottom: 65px; // avoid overlap sharebar
    }
  }
  &:hover {
    opacity: 1;
  }
}
#Footer {
  margin-top: -1px;
  padding-top: 1px;
  .widget h4 {
    font-weight: bold;
  }
  .textwidget {
    font-size: $body-size-small;
  }
  @include mobile {
    .widgets_wrapper {
      padding-top: 0!important;
    }
    .container {
      padding-left: 0!important;
      padding-right: 0!important;
      .column {
        border-bottom: 1px solid $grey;
        h4 {
          &:after {
            display: block;
            float: right;
            width: 30px;
            text-align: right;
            font-weight: bold;
            font-size: 125%;
            content: '+';
          }
          &.expanded {
            &:after {
              content: '-';
            }
            & + .textwidget {
              display: block!important;
            }
          }
        }
        &:nth-child(1) {
          .widget {
            padding-top: 5px;
          }
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          .textwidget {
            display: none;
          }
        }
        &:last-child {
          border-width: 0;
          text-align: center;
          h4:after {
            display: none;
          }
          .icon_bar {
            margin-left: 1rem;
          }
        }
        aside {
          padding-right: 33px;
          padding-left: 33px;
        }
        &:first-child {
          .textwidget img {
            max-width: 60vw;
            display: block;
            margin: 0 auto;
          }
        }
        .wpcf7-form {
          text-align: center;
          margin-top: 1.5rem;
          input[type="text"],
          input[type="email"] {
            max-width: 70vw!important;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .column {
    &.one-fifth {
      // logo image in footer
      .widget_media_image {
        img {
          max-width: 220px!important;
        }
      }
      @include desktop {
        width: calc(40%/3);
        &:nth-child(1),
        &:nth-child(5) {
          width: calc(50%/2);
        }
      }
    }
    // social links
    .icon_bar {
      border-radius: 50%;
    }
    .wpcf7-submit {
      @extend .is-marginless;
    }
  }
  .footer_copy {
    background-color: $grey-darker;
    border: 0 none;
    font-size: $body-size-small;
    .one {
      margin-bottom: 40px;
      padding-top: 40px;
    }
    .copyright {
      float: none;
      a, a:hover, a:visited {
        color: $primary;
      }
      .is-pulled-left, .is-pulled-right {
        @include mobile {
          text-align: center;
          display: block;
          float: none!important;
        }
      }
    }
  }
}
